{% extends "base.html" %}
{% block content %}
<div class="container"><div class="row"><div class="col-md-10">
{% block qblog_content %}
{% endblock qblog_content %}
</div></div></div>
{% endblock content %}
